.card{
    .title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .desc{
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }
    .content{
        padding: 10px;
    }
}