.banner{
    .area{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 19px;
        background: #00000030;
        transition: all .4s ease;
        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);
        @media (max-width: 768px) {
            position: inherit;
        }
        .title{
            color: $white;
            font-size: 20px;
            font-weight: 600px;
            margin-bottom: 3px;
        }
        .desc{
            color: $white;
            font-size: 16px;
            font-weight: 400px;
            margin-bottom: 0px;
        }
    }
    .VueCarousel{
        position: relative;
        &-navigation{
            bottom: 68px;
            @media (max-width: 768px) {
                bottom: 113px;
            }
        }
        &-slide{
            position: relative;
        }
    }
}