.banner{
    .area{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 19px;
        background: #00000030;
        transition: all .4s ease;
        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);
        @media (max-width: 768px) {
            position: inherit;
        }
        .title{
            color: $white;
            font-size: 20px;
            font-weight: 600px;
            margin-bottom: 3px;
        }
        .desc{
            color: $white;
            font-size: 16px;
            font-weight: 400px;
            margin-bottom: 0px;
        }
    }
    .VueCarousel{
        position: relative;
        &-navigation{
            bottom: 0;
            right: 9px;
            @media (max-width: 768px) {
                bottom: 89px;
                right: -14px;
            }
            button{
                padding: 0!important;
                margin: 0!important;
               &::before{
                padding: 20px;
                background: $gray;
                color: $white;
                @media (max-width: 768px) {
                    padding: 8px;
                }
               }
            }
            &-prev{
                &::before{
                    top: -67px;
                    right: -6px;
                }
            }
            &-next{
                &::before{
                    top: 0;
                    right: -54px;
                    @media (max-width: 768px) {
                        top: 24px;
                    }
                }
            }
        }
        &-slide{
            position: relative;
        }
    }

}