.product{
    .VueCarousel{
        &-navigation{
            top: -128px;
            @media (max-width: 768px) {
                top: -75px;
            }
        }
    }
    img{
        height: 450px;
        object-fit: cover;
        object-position: center;
    }
}