.product{
    .VueCarousel{
        &-navigation{
            top: -128px;
            @media (max-width: 768px) {
                top: -88px;
            }
        }
    }
    button{
        border: none;
        background: none;
        padding: 0;
        text-align: left;
    }
}